extends layout

block content
  div.cointainer
    div.row
      div.col-xs-3
        a.btn.btn-primary(href='/SteemAuth/login') login with steem
      div.col-xs-3
        a.btn.btn-primary(href='/BtsAuth/login') login with bitshares
